<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" processIsolation="false" stopOnFailure="false">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
    <testsuites>
        <testsuite name="InputFilterTest">
            <file phpVersion="7.3.0" phpVersionOperator=">=">./tests/InputFilterTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!-- 
            <directory suffix=".php">./adam</directory>
            <file>/public/white.php</file>
            <exclude>
                <directory suffix=".php">./public</directory>
                <file>/public/exclude.php</file>
            </exclude>
             -->
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tmp/coverage/html/" lowUpperBound="60" highLowerBound="90"/>
        <log type="coverage-clover" target="./tmp/coverage/clover.xml"/>
    </logging>
</phpunit>
